In [9]:


n= int(input())
m= int(input())

sq=[]

for i in range(n,m+1):
    
    T = int((i**0.5)) **2 ## 이게 포인트
    
    if i == T:
        sq.append(T)

        
if sq:
    print(sum(sq))
    print(min(sq))
else:
    print(-1)

60
100
245
64

In [32]:
result = []
n = int(input())
for i in range(n):
    name = []
    price = []
    p = int(input())
    
    for j in range(p):
        a, b = input().split()
        price.append(a)
        name.append(b)
        
    for k in range(p):
        if price[k]==max(price):
            result.append(name[k])
            
            
for l in range(n):
     print(result[l])

2
2
10 re
20 nd
2
30 fu
40 ew
nd
ew

In [64]:
s = int(input())


result=[]


for _ in range(s):
    n,m,k,z = input().split()
    
    result.append([n,int(m),int(k),int(z)])
    

# 나이가 가장 많은 사람을 찾기 위한 초기화
oldest = result[0]
print(oldest)
# 나이가 가장 적은 사람을 찾기 위한 초기화
youngest = result[0]
print(youngest)
    
for i in result:
    
    if(i[3],i[2],i[1]) < (oldest[3], oldest[2], oldest[1]):
        oldest = i
        
    if(i[3],i[2],i[1]) > (youngest[3], youngest[2], youngest[1]):
        youngest = i
        

print(youngest[0])
print(oldest[0])

2
권유정 26 8 2001
김정호 29 1 1994
['권유정', 26, 8, 2001]
['권유정', 26, 8, 2001]
권유정
김정호

In [68]:
n = int(input())


for i in range(n):
    print(i+1)

5
1
2
3
4
5

In [74]:
n = int(input())


for i in range(n):
    print(-(i-n))

5
5
4
3
2
1

In [98]:
n = int(input())

for i in range(1,n+1):
    print(" "*i,"*")

5
  *
   *
    *
     *
      *

In [39]:
n = input()
m = input()
result=[]

n=list(n)
m=list(m)


for i in range(len(n)):
    if i ==2 or i==5 :
        continue
        
    elif 

print(int(n[i])-int(m[i]))

13:52:30
14:00:00
0

In [49]:
n = int(input())
result=[]


for _ in range(9):
    
    m= int(input())
    result.append(m)
    
    result2=n-sum(result)
    
print(result2)

9850
1050
800
420
380
600
820
2400
1800
980
600

In [78]:
def good():
    results = []

    while True:
        n, m = map(int, input().split())
        if n == 0 and m == 0:
            break
        results.append(n + m)

    for result in results:
        print(result)

good()

1 1
2 2
0 0
2
4

In [125]:
## 튜플형태 

t = int(input())#학기수
results=[]


for j in range(0,t):
    sum = 0
    csum = 0
    n = int(input())#과목수
    for i in range(0,n):
        
        c,g = map(float,input().split())
        csum += c
        sum += c*g
    
    results.append((int(csum), round(sum/csum, 1))) # 튜플 형태로 추가

    
for result in results:
    print(result[0],result[1])

2
2
1 1.3
2 2.3
2
3 4.3
4 4.3
(3, 2.0)
(7, 4.3)

In [3]:
s = int(input())
result=[]

for i in range(s):
    
    n,m = map(int,input().split())
    
    result.append(m%n)
    
    
print(sum(result))

5
24 52
13 22
5 53
23 10
7 70
26

In [53]:
n = int(input())
result=[0,1]
for _ in range(n-1):
    pabo = result[-1] + result[-2]
    result.append(pabo)
    
print(result[-1])

10
55

In [69]:
n = int(input())
result=[]

for _ in range(n):
    s = int(input())  # 자동차 기본 가격
    k = int(input())  # 옵션의 개수
    total_option_price = 0  # 옵션의 총 가격 초기화

    for _ in range(k):
        q, p = map(int, input().split())
        total_option_price += q * p  # 옵션 가격 합산

    result.append(s + total_option_price)
    
    

for i in result:
    print(i)

2
10000
2
1 2000
3 400
50000
0
[13200, 50000]

In [2]:
n = int(input())
result=[]

for i in range(n):
    m= int(input())
    
    result.append(m)
    


    
for j in range(len(result)-1):
    result[j+1]+=result[j]-1
    
print(result[-1])

# 0 0 1 

# 4 8

# 4 7 10

4
2
10
19
30
58

In [120]:
n = int(input())
total_plugs = 0

for _ in range(n):
    plugs = int(input())
    total_plugs += plugs


computer = total_plugs - (n - 1)
print(computer)

3
1
1
1
1

In [5]:

result=0
for _ in range(5):
    n = int(input())
    result+=n
    
print(result)

0
100
0
10
100
210

In [13]:
s = int(input())
avg=[]
remain=[]

for _ in range(s):
    n,m = map(int,input().split())
    
    avg.append(n//m)
    remain.append(n%m)
    

for i in range(len(avg)):
    print("You get {} piece(s) and your dad gets {} piece(s).".format(avg[i],remain[i]))

5
22 3
15 5
99 8
7 4
101 5
You get 7 piece(s) and your dad gets 1 piece(s)
You get 3 piece(s) and your dad gets 0 piece(s)
You get 12 piece(s) and your dad gets 3 piece(s)
You get 1 piece(s) and your dad gets 3 piece(s)
You get 20 piece(s) and your dad gets 1 piece(s)

In [15]:
s = int(input())
result=[]

for _ in range(s):
    n,m = map(int,input().split())
    
    result.append(n+m)
    
for i in range(len(result)):
    
    print("Case {}: {}".format(i+1,result[i]))

3
1 2
1 3
3 5
Case 1: 3
Case 2: 4
Case 3: 8

In [18]:
s = int(input())
result=[]

for _ in range(s):
    b,c = map(int,input().split())
    
    a=2-b+c
    
    result.append(a)
    
for i in result:
    print(i)

2
8 12
4 6
6
4

In [33]:
n,m = map(int,input().split())
results=[]

for _ in range(n):
    s= int(input())
    if m>s:
        results.append(s)
        
for result in results:
    print(result, end=" ")

10 5
1
10
4
9
2
3
8
5
7
6
1 4 2 3

In [34]:
n,m = map(int,input().split())
s = list(map(int, input().split())) 

for num in s:
    if num < m:
        print(num, end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [49]:
n = int(input())

def good(n):
    
    if n<=1:
        return 1
    else:
        return n*good(n-1)
        
    
    
print(good(n))

10
3628800

In [61]:
import math

n= int(input())
s= list(map(int,input().split()))

count=0

for i in s:
    for j in range(2,i):
        if i%j ==0:
            continue
        else:
            count+=1
            
print(count)

4
1 3 5 7
1
3
5
7
5

In [72]:
import math

n = int(input())
s = list(map(int, input().split()))

def is_prime(num):
    if num <= 1:                    # 1이면 false 
        return False
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:            # 나눠떨어지는게 하나라도 있으면 False
            return False
        
    return True




count = 0
for number in s:
    if is_prime(number):
        count += 1

print(count)

3
373
1

In [101]:
import math

n = int(input())
m = int(input())
result = []
result1 = []

for i in range(n,m+1):
    result.append(i)


def is_prime(num):
    if num <= 1:                    # 1이면 false 
        return False
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:            # 나눠떨어지는게 하나라도 있으면 False
            return False
    return True


for number in result:
    if is_prime(number):           ## True이면
        result1.append(number)     ## result1 에 추가
        


        

if len(result1)>0:
    print(sum(result1))
    print(min(result1))
else :
    print(-1)

1234
5678
1850995
1237

In [163]:
## 소수 구하기
import math

def is_prime(num):
    if num<=1:
        return False
    for i in range(2, int(math.sqrt(num))+1):
        if num%i ==0:
            return False
    return True


is_prime(11)

True

In [3]:
## 약수 문제 

n,m = map(int,input().split())

result=[]

def good(n):
    for i in range(1,n+1):
        if n%i ==0:
            result.append(i)

            
good(n)       
print(result)


if len(result)<m:
    print(0)
else:
    print(result[m-1])
    


# 첫째 줄에 N의 약수들 중 K번째로 작은 수를 출력한다. 만일 
# N의 약수의 개수가 K개보다 적어서 K번째 
# 약수가 존재하지 않을 경우에는 0을 출력하시오.

134 3
[1, 2, 67, 134]
67

In [8]:
results=[]

for i in range(9):
    n = int(input())
    results.append(n)
    
index =results.index(max(results))
    
    
print(max(results))
print(index+1)

3
29
38
12
57
74
40
85
61
85
8

In [14]:
n = list(map(int,input().split()))
result=[]
for i in n :
    
    result.append(i*i)
    
    
a = sum(result)

result1 = a%10
    



print(result1)

0 4 2 5 6
1

In [62]:
## 파보나치 

result =[0,1]
n = int(input())

for i in range(n-1):
    result.append(i+1)


for i in range(n-1):
    result[i+2]= result[i+1] +result[i]

    
print(result[-1])

30
832040

In [98]:
# 홀수 출력

result=[]

for _ in range(7):
    n = int(input())
    
    result.append(n)
    


odd=[]
even=[]


for i in range(len(result)):
    if result[i] %2 != 0 :
        odd.append(result[i])
    else:
        even.append(result[i])


        
if len(even) ==7:
    print(-1)
elif len(odd)>0:
    print(sum(odd))
    print(min(odd))

12
77
38
41
53
92
85
256
41

In [113]:
##테스트 케이스 

T = int(input())
result=[]

for _ in range(T):
    N = int(input())
    numbers = list(map(int, input().split()))
    result.append(sum(numbers))


for i in result:
    print(i)

2
5
1 1 1 1 1
7
1 2 3 4 5 6 7
5
28

In [121]:
# 1110 =도
# 1100 =개
# 1000 =걸
# 0000 =윷
# 1111 =모

result=[]

for _ in range(3):
    s= list(map(int,input().split()))
    
    result.append(s)

    

for i in result:
    if i.count(1)==4:
        print("E")
    elif i.count(1)==3:
        print("A")
    elif i.count(1)==2:
        print("B")
    elif i.count(1)==1:
        print("C")
    else:
        print("D")

0 1 0 1
1 1 1 0
0 0 1 1
B
A
B

In [126]:


n = int(input())
s = list(map(int, input().split()))

count = s.count(n)

print(count)

5
1 3 5 6 5
2
2

In [127]:
# 날짜의 일의 자리 숫자 입력받기
date_digit = int(input())

# 자동차 번호의 일의 자리 숫자 입력받기
car_digits = list(map(int, input().split()))

# 10부제 위반 차량 수 세기
violation_count = 0

for digit in car_digits:
    if digit == date_digit:
        violation_count += 1

# 결과 출력
print(violation_count)

5
1 3 5 6 5
2

In [160]:
## O,X 문제 

n = int(input())
s = list(map(int, input().split()))

count = 0 
total_score = 0 

for i in s:
    if i == 1:
        count += 1
        total_score += count
    else:
        count = 0

print(total_score)

10
1 0 1 1 1 0 0 1 1 0
10

In [186]:
n = int(input())

s = list(map(int, input().split()))
result=[]

for i in s :
    result.append(i/max(s)*100)
    
print(sum(result)/int(n))
    
0

1
50
100.0

In [248]:
current = 0 
result=[]

for _ in range(4):
    n,m = map(int,input().split())
    
    current -= n
    current += m
    
    result.append(current)
    
print(result)

0 100
10 30
40 50
60 80
[100, 120, 130, 150]

# 별찍기

In [11]:
#1번

n=int(input())
for i in range(1, n+1):
    print("*"*i)

5
*
**
***
****
*****

In [22]:
#2번

n=int(input())
for i in range(1, n+1):
    print(' '*(n-i)+"*"*i)

5
    *
   **
  ***
 ****
*****

In [26]:
#3번

n= int(input())

for i in range(0,n+1):
    print("*"*(n-i)+""*i)

5
*****
****
***
**
*

In [35]:
#4번

n= int(input())

for i in range(0,n+1):
    print(" "*(i)+"*"*(n-i))

5
*****
 ****
  ***
   **
    *

In [72]:
#5번

n= int(input())

for i in range(0,n):
    print(" "*(n-i)+"*"*(2*i+1))

5
     *
    ***
   *****
  *******
 *********

In [71]:
#6번

N =int(input())
for i in range(1, N + 1):
    stars = '*' * (2 * i - 1)
    spaces = ' ' * (N - i)
    print(spaces + stars)

5
    *
   ***
  *****
 *******
*********

In [93]:
#7번

n= int(input())

for i in range(0,n):
    star = '*'*(2*(n-i)-1)
    space = " " * i
    
    print(space+star)

5
*********
 *******
  *****
   ***
    *

In [122]:
#8번

n =int(input())
for i in range(1, n + 1):
    stars = '*' * (2 * i - 1)
    spaces = ' ' * (n - i)
    print(spaces + stars)
for j in range(0,n):
    star = '*'*(2*(n-j)-3)
    space = " " * (j+1)
    
    print(space+star)

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [141]:
#9번


n = int(input())

for i in range(1,n+1):    # i =1,2,3
    
    star= "*" * i
    space=" " *(n-i)
    
    print(space+star)
    
for j in range(1,n):     # j =1,2
    
    star ="*" * (n-j)
    space =" " * j
    
    print(space+star)

3
  *
 **
***
 **
  *

In [140]:

n = int(input())

for i in range(1,n+1):       ## i =1,2,3
    print("*"*i)
    
for j in range(1,n):         ## j =1,2
    print("*"*(n-j))

3
*
**
***
**
*

In [215]:
n = int(input())


for i in range(1,n+1):
    
    star = "*"*i
    space = " "*2*(n-i)
    print(star+space+star)


for j in range(1,n):
    

    star = "*"*(n-j)
    space = " "*(2*j)
    print(star+space+star)

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [64]:
n= int(input())

for i in range(0,n):
    star = '*'*(2*(n-i)-1)
    space = " " * i
    
    print(space+star)

    
for j in range(2,n+1):
    star = "*"*(2*j-1)
    space = " "*(n-j)
        
    
    print(space+star)

10
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [29]:
#별찍기 20 (틀림)

n = int(input())

for i in range(n): # i = 0,1,2,3
    if i % 2 == 0:
        line = "* " * n
    else: 
        line = " *" * n
    print(line)

10
* * * * * * * * * *
 * * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * * *

In [1]:
n = int(input())

for i in range(0,n):
    star=" "*(n-i-1)+ "* "*(i+1)
    
    
    print(star)

10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [10]:
train=0
result=[]

for _ in range(4):
    n,m = map(int,input().split())
    
    train-=n
    train+=m
    
    result.append(train)
    
    
print(max(result))

0 32
20 100
30 40
30 20
122

In [ ]:
0 0
1 0
1 1

0 0
1 0
1 1
2 0 
2 1
2 2

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3

In [38]:
result=[]
n= int(input())
for i in range(n+1):
    for j in range(n+1):
        if i<j:
            pass
        elif i>=j:
            result.append(i+j)
        
        
print(sum(result))

1
3

In [18]:
import math

result=[]
 
n,m = map(int,input().split())
    
lcm = (n*m // math.gcd(n,m))  # 최소공배수 = n*m // math,gcd(n,m)

result.append(math.gcd(n,m)) ## 최대 공약수
    
result.append(lcm)           ## 최소 공배수
    


for i in result:
    print(i)
    
    
# 5 25 30    
#   5  6   
    
    
# 최대 공약수 :5
# 최소 공배수: 5x5x6

24 80
8
240