# 3이 포함 안되는 경우

In [15]:
# 3이 포함 안되는 경우 

            
            
n = int(input())
count = 0

for i in range(n+1):  # 0부터 n까지 숫자 생성
    if '3' in str(i):
        continue
    for j in range(60):
        if '3' in str(j):
            continue
        for k in range(60):
            if '3' in str(k):
                continue
            count += 1

print(count)

10
20250

In [14]:
## 12/18일 복습완료


n = int(input())

count =0 

for i in range(n+1):
    if "3" in str(i):
        continue
    for j in range(60):
        if "3" in str(j):
            continue
        for k in range(60):
            if "3" in str(k):
                continue
                        
            count+=1
                        
print(count)

10
20250

In [23]:
## 시분초 12/18 복습완료 


n = int(input())

count= 0 

for i in range(n+1):
    for j in range(60):
        for k in range(60):
            if "3" in str(i) or "3" in str(j) or  "3" in str(k):
                count+=1


print(count)

1
3150

# 3이 포함되는 경우

In [19]:
count = 0
n = int(input())
    
for i in range(n+1):  # 0부터 n까지 숫자 생성
    for j in range(60):
        for k in range(60):
            # 시, 분, 또는 초 중 어느 하나라도 '3'을 포함하면 카운트
            if '3' in str(i) or '3' in str(j) or '3' in str(k):
                count += 1
                    
print(count)

1
3150

# 15강 나이트 문제 다시 해보기... 이해가 어렵

In [35]:
# # 현재 나이트의 위치 입력 받기 

# input_data = input()
# row = int(input_data[1])
# column = int(ord(input_data[0])) - int(ord("a")) + 1


# # 나이트가 이동할 수 있는 방향 8가지 정의

# steps= [(-2,-1),(-1,-2),(1,-2),(2,-1),(2,1),(1,2),(-1,2),(-2,1)]


# # 8가지 방향으로 이동이 가능한지 확인 

# result = 0
# for step in steps:
    
#     # 이동하고자 하는 위치
#     next_row = row + step[0]
#     next_column = column+ step[1]
    
#     # 해당 위치로 이동이 가능하면 카운트 증가 
#     if next_row >=1 and next_row <=8 and next_column >=1 and next_column<=8:
#         result+=1
        
# print(result)

10
0

# 알파벳 정렬 + 숫자 더하기

In [27]:
#1. 입력 
data = input()

#2. 리스트 생성
result = []

#3. 숫자 초기화 
num = 0


#4. 데이터를 입력하는데 x에 뭐가 들어올지는 모르겠지만 문자면 result에추가
#   아니면 num에 숫자를 더한다 
for x in data:
    if x.isalpha():
        result.append(x)
    else : 
        num += int(x)

    
# print(result)
# print(num)


#5. 정렬하기 
result.sort()
# print(result)


#6. 만약에 숫자가 0이 아니면 끝에 숫자를 문자열로 더해준다.
if num !=0:
    result.append(str(num))

print(result)

print("".join(result))

dfs3223
['d', 'f', 's', '10']
dfs10