In [14]:
#1. 배열에 숫자 넣기

list=[]
for i in range(10):
    list.append(i)

print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#1-2. 배열에 숫자 넣기

list = [i for i in range(10)]

print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#2. 0~19 까지 홀수만 추출하기


list =[]

for i in range(20):
    if i% 2==1:
        list.append(i)

print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [29]:
#3. n^2 들만 추출하기
list=[]

for i in range(20):
    list.append(i*i)
    
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [32]:
# 4. 문자열 같은 경우에는 반복할때 값을 무시하기위해 _ 를씀

for _ in range(10):
    print("good")

good
good
good
good
good
good
good
good
good
good

In [34]:
#5. 1부터 100까지 더하기 

total = 0

for i in range(101):
    total+=i

print(total)

5050

In [43]:
#6. 리스트 컴프리헨션 NXM 

# 2차원 리스트 초기화 행이 4이고 열이 3

n=4
m=3 

list = [[0]*m for i in range(n)]

print(list)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [76]:
#7. 리스트안에 특정 원소값을 삭제하는 함수를 작성하여라

list =[1,2,3,"정호","정호","유정","코코","유정","유정","유정","유정","유정","유정",
       "유정","유정","유정","유정","유정","유정","유정","유정","유정","유정","유정","유정",
       "유정","유정","유정","유정","유정","유정","유정","유정",
       "유정","유정","유정","유정","유정","유정","유정","유정","유정","유정","유정","유정","정호","정호"
       ,"유정","정호","정호","유정","정호","정호","유정"]


remove_list = {"정호","유정"}


result= [i for i in list if i in remove_list]


print(len(result))
print(result)
print(result.count("유정"))

50
['정호', '정호', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '유정', '정호', '정호', '유정', '정호', '정호', '유정', '정호', '정호', '유정']
42

In [79]:
# 8. 파이썬 기본 (백슬래쉬+따옴표)

a = "Hello \"python\""

print(a)

Hello "python"

In [83]:
# 9. 튜플 변경은 불가능 (해싱키값으로 사용가능, 서로다른성질)


a = (1,2,3,4,5,6,7)

print(a)

print(a[3])

(1, 2, 3, 4, 5, 6, 7)
4

In [108]:
# 10. 사전 자료형 {키:값} 

data = dict()

data['1'] = "사과"
data['2'] = "곶감"
data['3'] = "배"

print(data)
print(data.keys())
print(data.values())

data_key = data.keys()

for key in data_key:
    print(key)         ## 키값
    print(data[key])   ## 밸류값

{'1': '사과', '2': '곶감', '3': '배'}
dict_keys(['1', '2', '3'])
dict_values(['사과', '곶감', '배'])
1
사과
2
곶감
3
배

In [111]:
#11. , 집합자료형 중복을 허용안함


data = set([1,2,1,2,3])

print(data)


data= {1,2,1,2,3,4}
print(data)

{1, 2, 3}
{1, 2, 3, 4}

In [126]:

#12. 자주 사용되는 표준 입력 방법

# 1. A,B = map(int, input().split())
# 2. list(map(int, input().split()))




n= int(input())                         ## 그냥담김
data= list(map(int,input().split()))    ## 공백기준으로 나눠서 리스트에 담김 (여러개)
a,b,c = list(map(int,input().split()))  ## 데이터가 3개일때 


print(n)
print(data)

123
123

TypeError: 'tuple' object is not callable

In [127]:
# 13. 인풋보다 입력을 빨리 받고 싶으면 sys.stdin.readline()
# 단, rstrip 메서드 사용

In [128]:
import sys
data = sys.stdin.readline().rstrip()
print(data)

In [130]:
a=1
b=3
c=5

print(a)
print(b)
print(7, end='')
print(8, end='')

1
3
78

In [149]:
## 14. 조건문 

# 딱히 할게없음. 

# x in 리스트
# x not in 문자열 

# 이거나 기억해두자 

#1.
list =["x","y"]

print("x" in list)


#2.
print("x" not in "1c")

True
True
bad
exit

In [150]:
#3.

score = 84

if score >= 85:
    pass
else:
    print("bad")
    
print("exit")

bad
exit

In [160]:
## 15.반복문

# for 변수 in 리스트:
#       실행코드

a = [1,2,3,4,5,6,7,8]

for i in a:
    print(i)

1
2
3
4
5
6
7
8

In [164]:

#1~9 까지 합산

total =0

for i in range(1,10):
    total+=i
    
print(total)


#1~100까지 홀수만 합산

total = 0 

for i in range(1,101):
    if i % 2 == 1:
        total+=i

print(total)

45
2500

In [185]:
# 80점만 넘으면 합격 

a= [50,70,80,90,100,55,60,77,54,88,44,33,22,55,100]


for i in range(14):
    if a[i]>80:
        print(i+1,"번 학생은",a[i],"점으로 합격")

4 번 학생은 90 점으로 합격
5 번 학생은 100 점으로 합격
10 번 학생은 88 점으로 합격

In [1]:
# 80점만 넘으면 합격 ,5번 10번은 부정행위

a= [50,70,80,90,100,55,60,77,54,88,44,33,22,55,100]
b = {5,10}

for i in range(14):
    if i+1 in b:
        continue
    if a[i]>80:
        print(i+1,"번 학생은",a[i],"점으로 합격")

4 번 학생은 90 점으로 합격

In [217]:
#3개 곱하기

for i in range(2,10):
    for j in range(2,9):
        for k in range(3,8):
            print(i,"X",j,"X",k,"=",i*j*k)

2 X 2 X 3 = 12
2 X 2 X 4 = 16
2 X 2 X 5 = 20
2 X 2 X 6 = 24
2 X 2 X 7 = 28
2 X 3 X 3 = 18
2 X 3 X 4 = 24
2 X 3 X 5 = 30
2 X 3 X 6 = 36
2 X 3 X 7 = 42
2 X 4 X 3 = 24
2 X 4 X 4 = 32
2 X 4 X 5 = 40
2 X 4 X 6 = 48
2 X 4 X 7 = 56
2 X 5 X 3 = 30
2 X 5 X 4 = 40
2 X 5 X 5 = 50
2 X 5 X 6 = 60
2 X 5 X 7 = 70
2 X 6 X 3 = 36
2 X 6 X 4 = 48
2 X 6 X 5 = 60
2 X 6 X 6 = 72
2 X 6 X 7 = 84
2 X 7 X 3 = 42
2 X 7 X 4 = 56
2 X 7 X 5 = 70
2 X 7 X 6 = 84
2 X 7 X 7 = 98
2 X 8 X 3 = 48
2 X 8 X 4 = 64
2 X 8 X 5 = 80
2 X 8 X 6 = 96
2 X 8 X 7 = 112
3 X 2 X 3 = 18
3 X 2 X 4 = 24
3 X 2 X 5 = 30
3 X 2 X 6 = 36
3 X 2 X 7 = 42
3 X 3 X 3 = 27
3 X 3 X 4 = 36
3 X 3 X 5 = 45
3 X 3 X 6 = 54
3 X 3 X 7 = 63
3 X 4 X 3 = 36
3 X 4 X 4 = 48
3 X 4 X 5 = 60
3 X 4 X 6 = 72
3 X 4 X 7 = 84
3 X 5 X 3 = 45
3 X 5 X 4 = 60
3 X 5 X 5 = 75
3 X 5 X 6 = 90
3 X 5 X 7 = 105
3 X 6 X 3 = 54
3 X 6 X 4 = 72
3 X 6 X 5 = 90
3 X 6 X 6 = 108
3 X 6 X 7 = 126
3 X 7 X 3 = 63
3 X 7 X 4 = 84
3 X 7 X 5 = 105
3 X 7 X 6 = 126
3 X 7 X 7 = 147
3 X 8 X 3 = 72
3 X 8 X 4 = 96
3 X 8 X 5 = 120
3 X 8 X 6 = 144
3 X 8 X 7 = 168
4 X 2 X 3 = 24
4 X 2 X 4 = 32
4 X 2 X 5 = 40
4 X 2 X 6 = 48
4 X 2 X 7 = 56
4 X 3 X 3 = 36
4 X 3 X 4 = 48
4 X 3 X 5 = 60
4 X 3 X 6 = 72
4 X 3 X 7 = 84
4 X 4 X 3 = 48
4 X 4 X 4 = 64
4 X 4 X 5 = 80
4 X 4 X 6 = 96
4 X 4 X 7 = 112
4 X 5 X 3 = 60
4 X 5 X 4 = 80
4 X 5 X 5 = 100
4 X 5 X 6 = 120
4 X 5 X 7 = 140
4 X 6 X 3 = 72
4 X 6 X 4 = 96
4 X 6 X 5 = 120
4 X 6 X 6 = 144
4 X 6 X 7 = 168
4 X 7 X 3 = 84
4 X 7 X 4 = 112
4 X 7 X 5 = 140
4 X 7 X 6 = 168
4 X 7 X 7 = 196
4 X 8 X 3 = 96
4 X 8 X 4 = 128
4 X 8 X 5 = 160
4 X 8 X 6 = 192
4 X 8 X 7 = 224
5 X 2 X 3 = 30
5 X 2 X 4 = 40
5 X 2 X 5 = 50
5 X 2 X 6 = 60
5 X 2 X 7 = 70
5 X 3 X 3 = 45
5 X 3 X 4 = 60
5 X 3 X 5 = 75
5 X 3 X 6 = 90
5 X 3 X 7 = 105
5 X 4 X 3 = 60
5 X 4 X 4 = 80
5 X 4 X 5 = 100
5 X 4 X 6 = 120
5 X 4 X 7 = 140
5 X 5 X 3 = 75
5 X 5 X 4 = 100
5 X 5 X 5 = 125
5 X 5 X 6 = 150
5 X 5 X 7 = 175
5 X 6 X 3 = 90
5 X 6 X 4 = 120
5 X 6 X 5 = 150
5 X 6 X 6 = 180
5 X 6 X 7 = 210
5 X 7 X 3 = 105
5 X 7 X 4 = 140
5 X 7 X 5 = 175
5 X 7 X 6 = 210
5 X 7 X 7 = 245
5 X 8 X 3 = 120
5 X 8 X 4 = 160
5 X 8 X 5 = 200
5 X 8 X 6 = 240
5 X 8 X 7 = 280
6 X 2 X 3 = 36
6 X 2 X 4 = 48
6 X 2 X 5 = 60
6 X 2 X 6 = 72
6 X 2 X 7 = 84
6 X 3 X 3 = 54
6 X 3 X 4 = 72
6 X 3 X 5 = 90
6 X 3 X 6 = 108
6 X 3 X 7 = 126
6 X 4 X 3 = 72
6 X 4 X 4 = 96
6 X 4 X 5 = 120
6 X 4 X 6 = 144
6 X 4 X 7 = 168
6 X 5 X 3 = 90
6 X 5 X 4 = 120
6 X 5 X 5 = 150
6 X 5 X 6 = 180
6 X 5 X 7 = 210
6 X 6 X 3 = 108
6 X 6 X 4 = 144
6 X 6 X 5 = 180
6 X 6 X 6 = 216
6 X 6 X 7 = 252
6 X 7 X 3 = 126
6 X 7 X 4 = 168
6 X 7 X 5 = 210
6 X 7 X 6 = 252
6 X 7 X 7 = 294
6 X 8 X 3 = 144
6 X 8 X 4 = 192
6 X 8 X 5 = 240
6 X 8 X 6 = 288
6 X 8 X 7 = 336
7 X 2 X 3 = 42
7 X 2 X 4 = 56
7 X 2 X 5 = 70
7 X 2 X 6 = 84
7 X 2 X 7 = 98
7 X 3 X 3 = 63
7 X 3 X 4 = 84
7 X 3 X 5 = 105
7 X 3 X 6 = 126
7 X 3 X 7 = 147
7 X 4 X 3 = 84
7 X 4 X 4 = 112
7 X 4 X 5 = 140
7 X 4 X 6 = 168
7 X 4 X 7 = 196
7 X 5 X 3 = 105
7 X 5 X 4 = 140
7 X 5 X 5 = 175
7 X 5 X 6 = 210
7 X 5 X 7 = 245
7 X 6 X 3 = 126
7 X 6 X 4 = 168
7 X 6 X 5 = 210
7 X 6 X 6 = 252
7 X 6 X 7 = 294
7 X 7 X 3 = 147
7 X 7 X 4 = 196
7 X 7 X 5 = 245
7 X 7 X 6 = 294
7 X 7 X 7 = 343
7 X 8 X 3 = 168
7 X 8 X 4 = 224
7 X 8 X 5 = 280
7 X 8 X 6 = 336
7 X 8 X 7 = 392
8 X 2 X 3 = 48
8 X 2 X 4 = 64
8 X 2 X 5 = 80
8 X 2 X 6 = 96
8 X 2 X 7 = 112
8 X 3 X 3 = 72
8 X 3 X 4 = 96
8 X 3 X 5 = 120
8 X 3 X 6 = 144
8 X 3 X 7 = 168
8 X 4 X 3 = 96
8 X 4 X 4 = 128
8 X 4 X 5 = 160
8 X 4 X 6 = 192
8 X 4 X 7 = 224
8 X 5 X 3 = 120
8 X 5 X 4 = 160
8 X 5 X 5 = 200
8 X 5 X 6 = 240
8 X 5 X 7 = 280
8 X 6 X 3 = 144
8 X 6 X 4 = 192
8 X 6 X 5 = 240
8 X 6 X 6 = 288
8 X 6 X 7 = 336
8 X 7 X 3 = 168
8 X 7 X 4 = 224
8 X 7 X 5 = 280
8 X 7 X 6 = 336
8 X 7 X 7 = 392
8 X 8 X 3 = 192
8 X 8 X 4 = 256
8 X 8 X 5 = 320
8 X 8 X 6 = 384
8 X 8 X 7 = 448
9 X 2 X 3 = 54
9 X 2 X 4 = 72
9 X 2 X 5 = 90
9 X 2 X 6 = 108
9 X 2 X 7 = 126
9 X 3 X 3 = 81
9 X 3 X 4 = 108
9 X 3 X 5 = 135
9 X 3 X 6 = 162
9 X 3 X 7 = 189
9 X 4 X 3 = 108
9 X 4 X 4 = 144
9 X 4 X 5 = 180
9 X 4 X 6 = 216
9 X 4 X 7 = 252
9 X 5 X 3 = 135
9 X 5 X 4 = 180
9 X 5 X 5 = 225
9 X 5 X 6 = 270
9 X 5 X 7 = 315
9 X 6 X 3 = 162
9 X 6 X 4 = 216
9 X 6 X 5 = 270
9 X 6 X 6 = 324
9 X 6 X 7 = 378
9 X 7 X 3 = 189
9 X 7 X 4 = 252
9 X 7 X 5 = 315
9 X 7 X 6 = 378
9 X 7 X 7 = 441
9 X 8 X 3 = 216
9 X 8 X 4 = 288
9 X 8 X 5 = 360
9 X 8 X 6 = 432
9 X 8 X 7 = 504

In [224]:
#16. 함수 람다식


# def 함수명(매개변수):
    #실행코드
    #return
    
    
def test(a,b,c):
    return a+b*c

print(test(3,5,7))

def test1(a,b,c):
    print("출력한다:",a+b*c)

test1(2,2,3)

38
출력한다: 8

In [235]:
# 17. 함수로 계산기 쳐만들기


def brain(a,b):
    add_brain = a+b
    sub_brain = a-b
    triple_brain = a*b
    didive_brain = a/b
    return add_brain,sub_brain,triple_brain,didive_brain


x,y,z,k = brain(6,3)

print(x)
print(y)
print(z)
print(k)

print(brain(6,3))
print(x,y,z,k)

9
3
18
2.0
(9, 3, 18, 2.0)
9 3 18 2.0

In [2]:
def add(a, b):
    return a + b

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = map(add, list1, list2)

print(list(result))

[7, 9, 11, 13, 15]

In [3]:

list1 =[1,2,3,4,5]
list2= [6,7,8,9,10]

result = map(lambda a,b: a+b, list1,list2)

result = map(lambda a,b: a*b, list1, list2)

print(list(result))

[6, 14, 24, 36, 50]

In [4]:
## 성적 순서대로 정렬하기 lambda 


array = [("홍길동",100),("미영증",200),("가로등",300)]

result = sorted(array, key=lambda x:x[1], reverse=True )  ## x:x[1] 2번째보다 크게 정렬

print(result)

[('가로등', 300), ('미영증', 200), ('홍길동', 100)]

In [1]:
import math


def lcm(a,b):
    return a*b // math.gcd(a,b)


math.gcd(21,14)   ## 최대공약수 gcd


print(math.gcd(21,14))
print(lcm(21,14))

7
42